# Node modules
node_modules/

# Vite output
dist/
.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
